{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="list-group">
                <legend class="border-bottom mb-4">Your surveys</legend>
                    <div class="d-grid gap-2">
                        {% for survey in surveyList %}
                            <a class="btn bg-steel" href="{{ url_for('answer', surveyId=survey.id) }}" role="button">{{ survey.surveyTitle }}</a>
                            <p class="list-group-item-text">Asked by: {{ survey.issuer }},
                            due on {{ survey.endDate}}</p>
                        {% endfor %}
                    </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
